:root{ 
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --font-weight: 500;

    --white: #ffffff;
    --black: #000000;
    --grey-300: #ebebeb;
    --grey-400: #cfcfcf;
    --grey-700: #595959;
    --orange-300: #e2c044;
    --green-300: #a0bdac;
    --green-500: #6e997c;
    --green-700: #30662E;
    --green-900: #0c4f00;
}